
body{font-family:'宋体';margin:0 auto;padding:0;font-size:12px;color:#333;}
div,form,ul,ol,li,span,p,dl,dt,dd{margin:0;padding:0;border:0;}
img,a img{border:0;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-size:12px;font-weight:normal;}
ul,ol,li{list-style:none}

a{outline-style:none;color:#333;text-decoration:none}
a:hover{color:#c00;text-decoration:none;}


body{background: url(../img/background.jpg) no-repeat;background-size: 100% 100%; }
#activity{margin: 0 auto; width: 1002px;}
.activity-rules{background: url(../img/activity-rules-bj.png) no-repeat;height: 605px; overflow: hidden;font-size: 14px;margin-top: 860px; }
.activity-rules-content{margin-top: 105px;margin-left: 220px;width: 550px;}
.activity-rules-content p{line-height: 26px;}
.activity-rules-content dl{line-height: 25px; margin-bottom: 15px;}
.activity-rules-content span {text-align: center;}
.clear{clear: both;}
.trophy-area{background: url(../img/trophy-area-bj.png) no-repeat;background-size: 100% 100%; height:1065px ;}
.trophy-area-centent{width: 962px;margin: 0 auto;overflow:hidden;}
.trophy-area-centent ul{display: block;margin: 160px 0 60px 0;width: 100%;background: #333333;}
.trophy-area-centent ul li{display: block;float: left; margin-left:62px;margin-bottom: 40px;}
.trophy-area-centent ul li img{width: 163px;height: 163px;}
.start-lottery{width:281px;margin: 0 auto;}
.start-lottery .p1{text-align: center;font-size: 14px;height: 35px;}
.start-lottery .p1 a{color: #FD4D55;}
.start-lottery .p2{height: 100px;width: 100%;background:url(../img/start-lottery-bj.png) no-repeat;background-size: 100% 100%;line-height: 100px;font-size: 18px;}
.start-lottery .p2 a{color: #FFFFFF;display:block;width: 100%;height: 100%;text-indent: 130px;}
.start-lottery .p3{height: 60px;line-height: 60px;text-align: center;font-size: 14px;}
.start-lottery .p3 a{color: #7BA9C3;}
.my-trophy{background: url(../img/my-trophy-bj.png) no-repeat;background-size: 100% 100%; height:1344px;overflow: hidden;margin-top: 60px;margin-bottom: 354px;}
.my-trophy-centent ul{display: block;margin-top: 170px;}
.my-trophy-centent ul li{display: block;float: left;margin: 0 15px 15px 60px;}
.my-trophy-centent ul li span{display: block;width: 160px;height: 160px;border: 1px solid #FF4C58;border-radius: 15px;overflow: hidden;}
.my-trophy-centent ul li span img{width: 142px;height: 142px;border: 1px solid #FFD2D7;border-radius: 15px;margin: 8px;}
.my-trophy-centent ul li p{height: 60px;line-height: 60px;text-align: center;}

.active{background: #FF4C58;}
#prize li img.active{width:163px; height:163px;border-radius: 15px;}

.activity-detail{background: url(../img/activity-liwu-bj.png) no-repeat; height:526px;width: 100%;font-size: 14px;}
.activity-detail-content{ width: 640px; margin: 0 auto; padding-top:110px;}
.activity-detail-content-one{line-height: 30px; text-indent: 36px; margin-bottom: 20px;}

.activity-detail-content-two{width: 100%;height: 180px;background: url(../img/activity-go-bj.png) no-repeat 8px 20px; }
.activity-detail-content-two li{float: left;}
.activity-detail-content-two li:nth-last-child(7){ width: 60px;}
.activity-detail-content-two li:nth-last-child(6){ width: 64px;}
.activity-detail-content-two li:nth-last-child(5){ width: 64px;}
.activity-detail-content-two li:nth-last-child(4){ width: 62px;}
.activity-detail-content-two li:nth-last-child(3){ width: 112px;}
.activity-detail-content-two li:nth-last-child(2){ width: 135px;}

.activity-detail-content-two li p{width: 65px;height: 50px; margin-bottom: 30px; text-align: center;}
.activity-detail-content-two li var{width: 65px; height: 75px;background: url(../img/activity-che-65-bj.png) no-repeat; display: block;color: #ff4c58; font-size: 17px;text-align: center;
line-height:55px;  font-style:normal; font-weight: bold; display: none;}
 #activ var{display: block;}