@charset "utf-8";
/* CSS Document */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,pre,a,code,em,img,small,strong,sub,sup,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
a{color:#ff364a; text-decoration:none;outline: none;}
a:hover{text-decoration:underline}
a:focus {outline:none; -moz-outline:none;}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
body{height:100%; font:14px/18px "Microsoft Yahei", Tahoma, Helvetica, Arial, Verdana, "\5b8b\4f53", sans-serif; color:#51555C;}
img{border:none}
var{ font-style:normal}


body{
	background: #e8f4e8;
}
#optimal-main{
 background-image: url(../img/optimal.png);
 background-repeat: no-repeat;
 background-size: 100% 100%;

 height: 4783px;
 width: 1920px;
 max-width: 100%;
 margin: 0 auto;
 overflow: hidden;
}
.activity-rule{	
	width: 1199px;
	height:905px ;
	margin: 0 auto;
	margin-top: 942px;

}
.optimal-progress{	
	width: 1307px;
	height: 843px;
	background-image: url(../img/progress-bar.png);
	background-repeat: no-repeat;
	background-size: 1268px 614px;
	background-position: bottom 195px left 40px;
	margin: 0 auto;
	margin-top: 155px;
}
/* 青铜箱子 */
.copper-big-box{
	background-image: url(../img/copper-box.png);
	background-repeat: no-repeat;
	background-size: 93px 74px;
	
	width: 93px;
	height: 74px;
	top:4px;
	left: 620px;
}
.copper-medium-box{
	background-image: url(../img/copper-box.png);
	background-repeat: no-repeat;
	background-size: 91px 72px;
	height: 72px;
	width: 91px;
	top:6px;
	left: 472px;	
}
.copper-small-box{
	background-image: url(../img/copper-box.png);
	background-repeat: no-repeat;
	background-size: 85px 68px;
	width: 85px;
	height: 68px;
	top:10px;
	left: 324px;
}
.copper-extra-small-box{
	background-image: url(../img/copper-box.png);
	background-repeat: no-repeat;
	background-size: 76px 60px;
	width: 76px;
	height: 60px;
	top:18px;
	left: 182px;
}
/* 白银箱子 */
.silve-big-box{
	background-image: url(../img/silve-box.png);
	background-repeat: no-repeat;
	background-size: 86px 78px;
	width: 86px;
	height: 78px;
	top:0px;
	left: 1213px;
}
.silve-medium-box{
	background-image: url(../img/silve-box.png);
	background-repeat: no-repeat;
	background-size: 80px 72px;
	width: 80px;
	height: 72px;
	top:6px;
	left: 1079px;
}
.silve-small-box{
	background-image: url(../img/silve-box.png);
	background-repeat: no-repeat;
	background-size: 71px 64px;
	width: 71px;
	height: 64px;
	top:14px;
	left: 931px;
}
.silve-extra-small-box{
	background-image: url(../img/silve-box.png);
	background-repeat: no-repeat;
	background-size: 62px 57px;
	width: 62px;
	height: 57px;
	top:21px;
	left: 787px;
}
/* 黄金箱子 */
.gold-big-box{
	background-image: url(../img/gold-box.png);
	background-repeat: no-repeat;
	background-size:101px 94px;
	width: 101px;
	height: 94px;
	top:490px;
	left: 610px;
}
.gold-medium-box{
	background-image: url(../img/gold-box.png);
	background-repeat: no-repeat;
	background-size: 87px 81px;
	width: 87px;
	height:81px;
	top:503px;
	left: 770px;
}
.gold-small-box{
	background-image: url(../img/gold-box.png);
	background-repeat: no-repeat;
	background-size: 77px 72px;
	width: 77px;
	height:72px;
	top:512px;
	left: 922px;
}
.gold-extra-small-box{
	background-image: url(../img/gold-box.png);
	background-repeat: no-repeat;
	background-size: 67px 63px;
	width: 67px;
	height:63px;
	top:521px;
	left: 1081px;
}

/* 钻石箱子 */
.jewel-big-box{
	background-image: url(../img/jewel-box.png);
	background-repeat: no-repeat;
	background-size: 150px 139px;
	width: 150px;
	height:139px;
	top:445px;
	left: 0px;
}
.jewel-medium-box{
	background-image: url(../img/jewel-box.png);
	background-repeat: no-repeat;
	background-size: 121px 112px;
	width: 121px;
	height:112px;
	top:472px;
	left: 238px;

}
.jewel-small-box{
	background-image: url(../img/jewel-box.png);
	background-repeat: no-repeat;
	background-size: 97px 90px;
	width: 97px;
	height: 90px;
	top:494px;
	left: 441px;
}
.optimal-progress ul {position: relative;display: block;width: 100%;height: 100%;}
.optimal-progress ul li span{position: absolute;height: 320px;cursor:pointer}
.optimal-progress ul li i{position: absolute;width: 178px;height: 153px; font-size: 25px; color: #DE7940; font-weight: bold;}
.optimal-progress ul li:nth-child(-n+7) .active{	
	background-image: url(../img/Progress-car-forward.png);
	background-repeat: no-repeat;
	background-size: 178px 153px;	
}
.optimal-progress ul li:nth-child(-n+7) .active var{
	position: absolute;
	top: 68px;
	width: 58px;
	text-align: center;
	left: 28px;
}

.optimal-progress ul li:nth-child(n+8) .active{	
	background-image: url(../img/Progress-car-reverse.png);
	background-repeat: no-repeat;
	background-size: 178px 153px;
}
.optimal-progress ul li:nth-child(n+8) .active var{
	position: absolute;
	top: 68px;
	width: 58px;
	text-align: center;
	right:28px;
}


.progress-car-1{top: 185px;left: 5px;}
.progress-car-2{top: 185px;left: 150px;}
.progress-car-3{top: 185px;left: 295px;}
.progress-car-4{top: 185px;left: 450px;}
.progress-car-5{top: 185px;left: 600px;}
.progress-car-6{top: 185px;left: 750px;}
.progress-car-7{top: 185px;left: 900px;}
.progress-car-8{top: 185px;left: 1050px;}


.progress-car-9{top: 185px;left: 1195px;}
.progress-car-10{bottom: 0px;left: 985px;}
.progress-car-11{bottom: 0px;left: 830px;}
.progress-car-12{bottom: 0px;left: 685px;}
.progress-car-13{bottom: 0px;left: 530px;}
.progress-car-14{bottom: 0px;left: 360px;}
.progress-car-15{bottom: 0px;left: 170px;}
.progress-car-16{bottom: 0px;left: -60px;}

.table-data{
	width: 1200px;
	height: 903px;
	margin: 0 auto;
	background-image: url(../img/table.png);
	background-repeat: no-repeat;
	background-size: 1200px 903px;
	padding-top: 270px;
	padding-left: 105px;
}
.table-data table{
	width: 994px;
	height: 545px;
	background-color: #ffffff;
	border: solid 2px #478f61;
	font-size: 14px;
	color: #598748;
}
.table-data table tr td{
	text-indent: 21px;
	position: relative;
}
.table-data table tr td var{
	position: absolute;
	right: 10px;
	color: deepskyblue !important;
	
}

/* 打开后箱子的样式 */

/* 青铜箱子 */
.open-copper-big-box{
	background-image: url(../img/open-copper-box.png);
	background-repeat: no-repeat;
	background-size: 93px 74px;
	width: 93px;
	top:4px;
	left: 620px;
}
.open-copper-medium-box{
	background-image: url(../img/open-copper-box.png);
	background-repeat: no-repeat;
	background-size: 91px 72px;
	width: 91px;
	top:6px;
	left: 472px;
	
}
.open-copper-small-box{
	background-image: url(../img/open-copper-box.png);
	background-repeat: no-repeat;
	background-size: 85px 68px;
	width: 85px;
	top:10px;
	left: 324px;
	
}
.open-copper-extra-small-box{
	background-image: url(../img/open-copper-box.png);
	background-repeat: no-repeat;
	background-size: 76px 60px;
	width: 76px;
	top:18px;
	left: 182px;
}
/* 白银箱子 */
.open-silve-big-box{
	background-image: url(../img/open-silve-box.png);
	background-repeat: no-repeat;
	background-size: 86px 78px;
	width: 86px;
	top:0px;
	left: 1213px;
}
.open-silve-medium-box{
	background-image: url(../img/open-silve-box.png);
	background-repeat: no-repeat;
	background-size: 80px 72px;
	width: 80px;
	top:6px;
	left: 1079px;
}
.open-silve-small-box{
	background-image: url(../img/open-silve-box.png);
	background-repeat: no-repeat;
	background-size: 71px 64px;
	width: 71px;
	top:14px;
	left: 931px;
}
.open-silve-extra-small-box{
	background-image: url(../img/open-silve-box.png);
	background-repeat: no-repeat;
	background-size: 62px 57px;
	width: 62px;
	top:21px;
	left: 787px;
}
/* 黄金箱子 */
.open-gold-big-box{
	background-image: url(../img/open-gold-box.png);
	background-repeat: no-repeat;
	background-size:101px 94px;
	width: 101px;
	top:490px;
	left: 610px;
}
.open-gold-medium-box{
	background-image: url(../img/open-gold-box.png);
	background-repeat: no-repeat;
	background-size: 87px 81px;
	width: 87px;
	top:503px;
	left: 770px;
}
.open-gold-small-box{
	background-image: url(../img/open-gold-box.png);
	background-repeat: no-repeat;
	background-size: 77px 72px;
	width: 77px;
	top:512px;
	left: 922px;
}
.open-gold-extra-small-box{
	background-image: url(../img/open-gold-box.png);
	background-repeat: no-repeat;
	background-size: 67px 63px;
	width: 67px;
	top:521px;
	left: 1081px;
}

/* 钻石箱子 */
.open-jewel-big-box{
	background-image: url(../img/open-jewel-box.png);
	background-repeat: no-repeat;
	background-size: 150px 139px;
	width: 150px;
	top:445px;
	left: 0px;
}
.open-jewel-medium-box{
	background-image: url(../img/open-jewel-box.png);
	background-repeat: no-repeat;
	background-size: 121px 112px;
	width: 121px;
	top:472px;
	left: 238px;
}
.open-jewel-small-box{
	background-image: url(../img/open-jewel-box.png);
	background-repeat: no-repeat;
	background-size: 97px 90px;
	width: 97px;
	top:494px;
	left: 441px;
}

.card-optimal{	
	width: 1352px;
	color: #598748;
	margin: 0 auto;
	margin-top: 50px;
	position: relative;
}
.card-optimal i{
	position: absolute;
	width: 44px;
	height: 44px;
	border-radius: 44px;
	top: 26px;
	left: 300px;	
}
.card-optimal i:hover{
	cursor:pointer ;
}
.card-optimal span{
	display: block;
	margin-left: 154px;
	font-size: 14px;
	margin-top: 28px;
}